.favorite-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }
  
  .favorite-text {
    flex: 1;
    text-align: center;
  }