.App {
  text-align: center;
  
  background-position: center center;
  background-image: url('../../assets/paper-texture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
}

