.App {
  text-align: center;
  
  background-position: center center;
  background-image: url('../../assets/paper-texture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
}

header {
  height: 85px;
  border: 1px solid green;
}

main {
  min-height: 75vh;
  border: 1px solid blue;

}

footer {
  height: 95px;
  border: 1px solid red;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}