.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
  }
  
  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .connect-btn {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 4%
  }
  
  .account-info {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 4%
  }
  
  .account-address {
    margin-right: 10px;
    font-size: 14px;
  }
.metamask-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  