.Form {
    padding: 40px 18px;

}
.container{
box-shadow: -2px 8px 19px 16px rgba(0, 0, 0 , .1);
display: inline-flex;
border-radius: 10px;
}

.Form_field{
background: transparent;

font: inherit;

border: 0;
outline: 0;
padding: 15px 18px;
border-radius: 3px;
transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;


}
.Form_field:hover {
background-color: lightgrey;
box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.15);
border-radius: 13px;

}
.button {
background: transparent;
color: #110f0f;

box-shadow: inset -8px 7px 14px 3px rgba(0, 0, 0 , .1);
border: 0;
outline: 0; 
padding: 15px 17px;
border-radius: 9px;
}

.button:hover{
cursor: pointer;
box-shadow: inset 1px -2px 14px 10px rgba(41, 35, 35, 0.1);
}

.button:active {
background: white;
box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.button:inside{
margin-left: 10px;
}
@keyframes arrow-move {
0%, 100% {
  transform: translate(0, 0) rotate(15deg);
}
50% {
  transform: translate(10px, -10px) rotate(15deg);
}
}
.arrow-animation {
display: inline-block;
animation: arrow-move 2s linear infinite;
}
